.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  margin-top: 40px;
}

.table{
  margin-top: 20px;
  border: 1px solid #000;
}
.table thead {
  font-size: 14px;
  text-align: center;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: 400;
}
.table tbody {
  font-size: 12px;
  text-align: center;
  font-family: Avenir, system-ui, sans-serif;
}

.card-header{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: Avenir, system-ui, sans-serif;
}

.card-body h2{
  font-size: 2rem;
  font-family: Avenir, system-ui, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 20px;
  text-decoration: underline;
}

.input-group .input-group-text{
  font-size: 1rem;
  font-family: Avenir, system-ui, sans-serif;
  font-weight: bold;
}

.form-control{
  font-style: italic;
}